<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <!--<connectionStrings>
    <add name="RocedesCS" connectionString="Data Source=192.168.14.8;Initial Catalog=Auditoria;User Id=sa;Password=rocedes@2015" providerName="System.Data.SqlClient"/>
    <add name="TestConnectionString" connectionString="Data Source=192.168.14.8;Initial Catalog=Auditoria;User Id=sa;Password=rocedes@2015" providerName="System.Data.SqlClient"/>
    <add name="AuditoriaEntities" connectionString="metadata=res://*/App_Code.Auditoria.csdl|res://*/App_Code.Auditoria.ssdl|res://*/App_Code.Auditoria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.14.8;initial catalog=Auditoria;user id=sa;password=rocedes@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
  <appSettings>
    <add key="DataSource" value="192.168.14.8"/>
    <add key="DataBase" value="Auditoria"/>
    <add key="User" value="sa"/>
    <add key="Password" value="rocedes@2015"/>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>